<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
	<targets>
		<!--写入log文本文件-->
		<!--写入info日志文件-->
		<target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard" async="true">
			<target xsi:type="File" fileName="${basedir}/logs/Info/Info_${shortdate}.log" layout="${longdate}  ${level:uppercase=true} [线程${threadid}]  ${message}" />
		</target>
		<!--写入trace日志文件-->
		<target name="filetrace" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard" async="true">
			<target xsi:type="File" fileName="${basedir}/logs/ActionTrace/ActionTrace_${shortdate}.log" layout="${longdate}  ${level:uppercase=true} [线程${threadid}] ${message}" />
		</target>
		<!--写入session trace日志文件-->
		<target name="filedebug" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard" async="true">
			<target xsi:type="File" fileName="${basedir}/logs/Debug/Debug_${shortdate}.log" layout="----------------日志记录开始----------------${newline}【日志时间】：${longdate} ${newline}【日志级别】：${level:uppercase=true}[线程${threadid}] ${newline}【相关信息】${newline}${message}${newline}" />
		</target>
		<!--写入warn等及以上日志文件-->
		<target name="fileex" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard" async="true">
			<target xsi:type="File" fileName="${basedir}/logs/Error/Error_${shortdate}.log" layout="----------------日志记录开始----------------${newline}【日志时间】：${longdate} ${newline}【日志级别】：${level:uppercase=true}${newline}【相关信息】${newline}${message}${newline}" />
		</target>

		<!--<target xsi:type="RichTextBox" name="e" layout="${longdate} ${level} [线程${threadid}] ${message}" controlName="ErrorTextBox" formName="MainForm" maxLines="100" />
    <target xsi:type="RichTextBox" name="i" layout="${longdate} ${level} [线程${threadid}] ${message}" controlName="InfoTextBox" formName="MainForm"  maxLines="100"/>
    <target xsi:type="RichTextBox" name="t" layout="${longdate} ${level} [线程${threadid}] ${message}" controlName="TraceTextBox" formName="MainForm"  maxLines="100"/>
    <target xsi:type="RichTextBox" name="d" layout="${longdate} ${level} [线程${threadid}] ${message}" controlName="DebugTextbox" formName="MainForm"  maxLines="100"/>-->
	</targets>
	<rules>

		<logger name="Quartz*" minlevel="Trace" maxlevel="Info" final="true" />
		<logger name="*" minlevel="info" writeTo="coloredConsole" />
		<!--info日志存到对应的文件-->
		<logger name="*" level="Info" writeTo="file" />
		<!--warn以上日志存到对应文件-->
		<logger name="*" minlevel="Warn" writeTo="fileex" />
		<!--Trace日志存到对应文件-->
		<logger name="*" level="Trace" writeTo="filetrace" />
		<!--Debug日志存到对应文件-->
		<logger name="*" level="Debug" writeTo="filedebug" />

		<!--主窗体日志输出-->
		<!--<logger name="*" level="Error" writeTo="e" />
    <logger name="*" level="Info" writeTo="i" />
    <logger name="*" level="Trace" writeTo="t" />
    <logger name="*" level="Debug" writeTo="d" />-->
	</rules>
</nlog>